html,
body {
  margin: 0;
  min-height: 100vh !important;
  font-family: 'Arial';
}
.App {
  background-color: black;
  color: white;
  display: flex;
  min-height: 100vh !important;
  justify-content: center;
  align-items: center;
}
.card__container {
  min-width: 500px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.card__header {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: rgb(26, 26, 160);
  text-align: center;
  height: 100px;
}
.title {
  margin: 0;
  padding-top: 30px;
  font-size: 30px;
}
.MuiInputLabel-root,
.MuiInputBase-root {
  color: rgb(185, 185, 185) !important;
}
.MuiInput-underline::before {
  border-bottom: 1px solid rgb(185, 185, 185) !important;
}
.MuiSvgIcon-root {
  fill: rgb(185, 185, 185) !important;
}

.dropzone {
  height: auto;
  border: 3px dotted #1f3155;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.dz-button {
  background-color: inherit;
  height: 100px;
  cursor: pointer;
  border: none;
  color: gray;
  font-size: 16px;
}
.dz-preview {
  width: 100%;
}
.dz-error-mark {
  display: none;
}
.dz-success-mark {
  display: none;
}
.dz-remove {
  text-decoration: none;
  color: red !important;
}
